<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cooki Sunkissed Salon</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cookie" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/employeePage.css' %}">
</head>

<body>
    <div class="heading">
        <a href="/">
            <img src="{% static 'img/icon.png' %}" alt="Icon Image" />
        </a>
    </div>
    <div class="employees">
        <img src="{% static 'img/cooki.jpg' %}" alt="Cooki image" />
    </div>
    <div class="main">
        <h3>
            Cooki Tran
            <a href="https://www.instagram.com/hairbycooki/?hl=en">
                <img src="{% static 'img/insta.png' %}" alt="Instagram Icon" />
            </a>
        </h3>
        <p>

            Hello world, my name is Cooki. I started to really love this industry when I was introduced to the Paul
            Mitchell Culture. Their style and attention to detail made me feel warm and welcomed, like the feeling of a
            comfortable home, and soon a childhood love for smiles and colors turned into a life long passion of mine.
            On my spare time, I am an easy going girl, loving the moment and help people laugh and smile along the way.

        </p>
    </div>
</body>

</html>