<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kacie Sunkissed Salon</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cookie" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/employeePage.css' %}">
</head>

<body>
    <div class="heading">
        <a href="/">
            <img src="{% static 'img/icon.png' %}" alt="Icon Image" />
        </a>
    </div>
    <div class="employees">
        <img src="{% static 'img/kacie.jpg' %}" alt="Kacie image" />
    </div>
    <div class="main">
        <h3>
            Kacie Nguyen
            <a href="https://www.instagram.com/hairbykacie1/?hl=en">
                <img src="{% static 'img/insta.png' %}" alt="Instagram Icon" />
            </a>
        </h3>
        <p>

            Hi! I’m Kacie and I am the proud owner of Sunkissed Salon in the Bay Area. Since I pursued being a
            hairstylist
            at the age of 19, it was definitely not easy for me. There were times where I wanted to give up or quit,
            but I
            am glad I didn’t because 10 years later, I love my job and everyone I met along the way. The experience and
            the
            relationships that is built in this industry is unbelievable. I am very thankful for my clients and our
            hair
            dates because without the trust and time you spend during our sessions, my passion to build a team and
            salon
            would’ve never happened. Lastly, I had the pleasure to work and teach such hard working and dream driven
            ladies
            who I call my family, the #sunkissedgals.

        </p>
    </div>
</body>

</html>