<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Phan Sunkissed Salon</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cookie" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/employeePage.css' %}">
</head>

<body>
    <div class="heading">
        <a href="/">
            <img src="{% static 'img/icon.png' %}" alt="Icon Image" />
        </a>
    </div>
    <div class="employees">
        <img src="{% static 'img/myPhan.jpg' %}" alt="My Phan image" />
    </div>
    <div class="main">
        <h3>
            My Phan
            <a href="https://www.instagram.com/myphan17/?hl=en">
                <img src="{% static 'img/insta.png' %}" alt="Instagram Icon" />
            </a>
        </h3>
        <h5>
            <a href="www.myphanbrows.com">Bookings</a>
        </h5>
        <h5>Permanent Makeup Artist & Trainer</h5>
        <p>

            I specializes in all permanent makeup procedures (microblading, microshading, ombré, lips blush, and lash
            enhancement liner). Being able to make a difference in so many peoples’ lives makes my job so rewarding.
            Although tattooed makeup may sound unnatural, with today's technology and advanced tools, we can create
            tattoos that look similar to makeup or even like natural hair. I wanted to focus on a pattern and color
            that are simple, soft, natural, but at the same time frame the face and improve my client's overall look.
            My goals are to enhance and create the most natural semi-permanent makeup procedures and delivering my
            service with most comfort, care, and safety for all my clients. And, passing all my experience and skills
            to my students/future artists.
            At our studio, we:
            -follow high standard of sanitation and hygiene
            -use new and disposable needles and pens always
            -apply topical anesthetic cream for pain control
            -use pigments that are safe


        </p>
        <h5>(408)644-0367</h5>
        <h5>myphanbrows@yahoo.com</h5>
    </div>
</body>

</html>