<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phuong Sunkissed Salon</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cookie" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/employeePage.css' %}">
</head>

<body>
    <div class="heading">
        <a href="/">
            <img src="{% static 'img/icon.png' %}" alt="Icon Image" />
        </a>
    </div>
    <div class="employees">
        <img src="{% static 'img/Phuong.jpg' %}" alt="Phuong image" />
    </div>
    <div class="main">
        <h3>
            Phuong Bui
            <a href="https://www.instagram.com/coloredbyphuong/?hl=en">
                <img src="{% static 'img/insta.png' %}" alt="Instagram Icon" />
            </a>
        </h3>
        <p>

            I am Phuong and I’m from San Jose where, at a young age, I developed a passion for hair and beauty. I
            started Cosmetology school super eager to learn the art of coloring, styling, and cutting. Knowing that I
            wanted to train from the best, I immediately applied for a job as a stylist assistant at Sunkissed Salon.
            For me, doing hair is fulfilling because I get to tap into my creativity everyday. I always strive to leave
            a positive impact making clients feel renewed and confident. The greatest gift to me is to not only color
            hair, but to also meet people who inspire me to be creative and to be a more well-rounded person.

        </p>
    </div>
</body>

</html>