<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Han Sunkissed Salon</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cookie" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/employeePage.css' %}">
</head>

<body>
    <div class="heading">
        <a href="/">
            <img src="{% static 'img/icon.png' %}" alt="Icon Image" />
        </a>
    </div>
    <div class="employees">
        <img src="{% static 'img/han.jpg' %}" alt="Han image" />
    </div>
    <div class="main">
        <h3>
            Han
            <!-- <a href="https://www.instagram.com/hairbycooki/?hl=en">
                <img src="{% static 'img/insta.png' %}" alt="Instagram Icon" />
            </a> -->
        </h3>
        <p>

            I’ve always had a passion for the beauty industry. Growing up, I’ve always love transforming my family and
            friends’ looks with different hair styles and make up. Seeing them happy makes me so happy. After my
            college years, I decided to go to cosmetology school. I started my career with doing hair, nails, and
            waxing. Then I was introduced by my sister about microblading. The moment I knew about microblading, I
            instantly knew this was what I want to do. Now, not only I get to transform my client’s eyebrows but I get
            to do it semipermanently. It’s so rewarding to be able to make such a huge difference is someone’s life and
            make their lives easier every morning. Having a job that I love makes it so rewarding to be in this field.
            And, I always set a high standard for myself and giving my clients the best care possible.

        </p>
    </div>
</body>

</html>