<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Heather Sunkissed Salon</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cookie" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/employeePage.css' %}">
</head>

<body>
    <div class="heading">
        <a href="/">
            <img src="{% static 'img/icon.png' %}" alt="Icon Image" />
        </a>
    </div>
    <div class="employees">
        <img src="{% static 'img/heather.jpg' %}" alt="Heather image" />
    </div>
    <div class="main">
        <h3>
            Heather
            <a href="https://www.instagram.com/hairbyheathern/?hl=en">
                <img src="{% static 'img/insta.png' %}" alt="Instagram Icon" />
            </a>
        </h3>
        <p>

            Hi! My name is Heather Nguyen. Ever since I was young I’ve always had a passion to be creative. I just
            never knew what I wanted to do with that creativity. I’ve tried my hand at illustrating, digital animation,
            baking pastries, and even nail art. But none of them gave me that drive for a career. Then I went back to
            school to try and become a hairstylist. BEST DECISION OF MY LIFE! I’ve never had a job where I wake up
            early and excite to go to work. My goals for our hairdates is to keep the integrity of your hair while
            making your color dreams come true! I’ve trained under Kacie Nguyen for the past two years and my favorite
            part of doing hair is the REVEAL. When you look in the mirror and smile, that’s honestly the best feeling
            ever. When I’ve empowered a person to feel beautiful! Can’t wait to meet you!

        </p>
    </div>
</body>

</html>