<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kimberly Sunkissed Salon</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cookie" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/employeePage.css' %}">
</head>

<body>
    <div class="heading">
        <a href="/">
            <img src="{% static 'img/icon.png' %}" alt="Icon Image" />
        </a>
    </div>
    <div class="employees">
        <img src="{% static 'img/kimberly.jpg' %}" alt="Kimberly image" />
    </div>
    <div class="main">
        <h3>
            Kimberly Ha
            <a href="https://www.instagram.com/hairbykimberlyh/?hl=en">
                <img src="{% static 'img/insta.png' %}" alt="Instagram Icon" />
            </a>
        </h3>
        <p>

            I started getting into hair when I first realized how big of a smile and confident people can get over any
            change, subtle or dramatic. I used to do hair for friends and my own hair in highschool, but never thought
            of it as being my profession. I enjoy doing cuts mostly, but also love a good color! On my spare time, I
            enjoy reading books, laying in the sun, and sleeping… just anything relaxing in general. #grandmastatus
        
        </p>
    </div>
</body>

</html>